@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1 , h2 , h3 {
    margin: 0;
}
button{
    border: none;
    background-color: white;
    border-radius: 50%;
    color: black;
    margin: 0;
    padding: 0;

  }
.btn-primary {
    background-color: transparent;
    border: 1px solid #00A5E3;
    color: #00A5E3;
    padding: 10px 20px;
    border-radius: 22px;
    transition: all ease-in-out .2s;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: var(--action-color-hover);
    color: white;
}